<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Witamy w rozliczaniu domowych środków</h1>
    <form action="/expense" method="post">
      <label for="description">Description:</label>
      <input type="text" id="description" name="description">
      <br>
      <label for="amount">Amount:</label>
      <input type="text" id="amount" name="amount">
      <br><br>
      <input type="submit" value="Submit">
    </form> 
    <a href='/expenses'>See all expenses</a>
  </body>
</html>